.container {
  text-align: center;
  padding: 1em;
  height: 100%;

  .fill-screen {
    height: 100%;
  }
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}
